
*.bin

*.lock
.idea/*

\.gradle/buildOutputCleanup/cache\.properties

\.gradle/vcsWorkingDirs/gc\.properties

*.class

build/libs/

build/tmp/jar/

bin/main/cn/\.DS_Store

bin/main/cn/agilecontrol/\.DS_Store

src/main/java/cn/\.DS_Store

src/main/java/cn/agilecontrol/\.DS_Store

\.settings/org\.eclipse\.core\.resources\.prefs
/.gradle/

dist/
/build/

\.settings/org\.eclipse\.buildship\.core\.prefs
machineorder.iml
/out
/buildForSelf.gradle
